{% extends '::base.html.twig' %}

{% block body %}

	<h2> Télécharge cette maquette et intégre ta page ici-même.
	Le contenu est bien entendu fictif. Ne rentre pas un article en BDD, nous te demandons juste d'intégrer la page. (Le header et le footer sont déjà présent !!!)</h2>

	<img src="{{ asset('img/image.png') }}">

{% endblock %}