{% extends '::base.html.twig' %}

{% block body %}
	<div class="col-md-12">
		<div class="col-md-5 col-md-offset-1 left">
			<img class="img-style-3" src="{{ asset('uploads/film/' ~ movie.folder ~ '') }}">
		</div>
		<div class="col-md-5">

			<h2>{{ movie.titre }}</h2>
			<hr>
			<p>{{ movie.description }}</p>
			
		</div>
	</div>
	<div class="col-md-10 col-md-offset-1">
		<div class="col-md-12">
			<h2>Commentaires : </h2>
			<hr>

			{# CODE HERE #}
		</div>
	</div>

{% endblock %}