.footer
{
	height:200px;
	text-align:center;
	background-color:#333331;
	padding:70px;
}

.footer h3, .footer h4
{
	color:#D8D8D8;
}

.empty
{
	height:20px;
}

.main-carousel
{
	max-height:400px;
	position:relative;
}

.img-style-1
{
	max-height:400px;
	width:100%;
}

.img-style-2
{
	margin-top:10px;
	max-height:200px;
	width:100%;
}

.img-style-3
{
	width:50%;
}

.left
{
	text-align:left;
}

.article-style-1
{
	border-radius:5px;
	background-color:#D8D8D8;
	min-height:100px;
	margin-top:10px;
	padding:5px;
}

.form-new
{
	background-color:#04B45F;
	padding:20px;
}